<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
</head>
<%= render "shared/header" %>

<div class="mypage-contents">
  <div class="postuser-name">
    <%="#{@user.nickname}" %>
  </div>
  <div class="user-calender">
    <%= month_calendar events: @dishes do |date,dishes| %>
      <%= date.day %> 
      <% dishes.each do |dish| %> 
        <p class="post-dish"><%= dish.dish_1%></p>
        <p class="post-dish"><%= dish.dish_2%></p>
        <p class="post-dish"><%= dish.dish_3%></p>
        <p class="post-dish"><%= dish.dish_4%></p>
        <p class="post-dish"><%= dish.dish_5%></p>
      <% end %>  
    <% end %>
  </div>  
</div>   

<%= render "shared/footer" %>