<h1>Loocook</h1>
<% if user_signed_in?%>こんにちは
<%= link_to "#{current_user.nickname}さん", user_path(current_user.id), class: "post-contents" %>
<%end%>

<%= link_to '新規登録', new_user_registration_path, class: "sign-up" %>

<%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout"%>

<%= link_to 'ログイン', new_user_session_path, class: "login" %>

<%= link_to '投稿する', new_dish_path, class: "post-contents" %>

