<%= form_with(model: @dish, local: true) do |f| %>

<div> 料理名</div>
<%= f.text_field :dish_1, class:"dish_1"%>
<div> 料理名</div>
<%= f.text_field :dish_2, class:"dish_2"%>
<div> 料理名</div>
<%= f.text_field :dish_3, class:"dish_3"%>
<div> 料理名</div>
<%= f.text_field :dish_4, class:"dish_4"%>
<div> 料理名</div>
<%= f.text_field :dish_5, class:"dish_5"%>
<div> 料理名</div>
<%= f.submit "投稿する", class:"submit-btn"%>
<%end%>