<head>
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
</head>
<%= render "shared/header" %>


  <div class= "contents-body">
    <div class="introduction">
      <h1 class="introduction-title">about</h1>
      <div class="introduction-contents">
        「今日何食べよう？」
        「いつも同じ物を作ってしまう...」<br>
        Loocookはそんな悩みを解決します。<br>
        特別な日のごはんではなくいつものごはんをのぞいてみませんか？
      </div>
      <div class="intro-page">
        <%= link_to '→もっと詳しく', about_dishes_path, method: :get%>
      </div>
    </div>

    <div class="contents-show">
      <div class="show-wrapper">
        <div class="index">posts</div>
        <br>
          <%= form_with(url:search_dishes_path ,local:true, method: :get, class:"search-form") do |form|%>
            <%= form.text_field :keyword, placeholder: "キーワード検索", class:"search-input"%>
            <%= form.button type: 'submit',class: "search-btn" do %>
              <i class="fas fa-search"></i>
            <% end %>  
          <% end %>  
      </div>    
      <div class= "contents-box">
        <% @dishes.each do |dish| %> 
          <div class ="contents">
            <div class="user-name">
              <%= link_to " #{dish.user.nickname}さん", user_path(dish.user_id)%>
              <div class="time">  
                <%= l dish.created_at, format: :long%>
              </div>
            </div>
            <ul>
              <li class="contents-list"><%= dish.dish_1%></li>
              <li class="contents-list"><%= dish.dish_2%></li>
              <li class="contents-list"><%= dish.dish_3%></li>
              <li class="contents-list"><%= dish.dish_4%></li>
              <li class="contents-list"><%= dish.dish_5%></li>
            </ul>
          </div> 
        <% end %>  
        <br>
      </div> 
    </div>
  </div>
</body>

<%= render "shared/footer" %>